<div class="jumbotron">
    <h1>MUSICBRAINZ MASHUP</h1>
    <p class="lead">This is a REST API which recieves any artists MusicBrainz Identifier, and provides a description of the band (from Wikipedia), and a list of albums and links to their cover pictures.</p>
    <br><br>
    <p>A valid API Call for Roger Pontare is: <a href="/api/artist/7de38172-2c22-4ff2-bf11-c3c62fb058e6">/api/artist/7de38172-2c22-4ff2-bf11-c3c62fb058e6</a>.</p>
    <p>For more examples of MusicBrainz Identifiers, click <a href="/api/artist">this link</a>.</p>
    <!--<p><a href="http://localhost:65134/Help" class="btn btn-primary btn-lg">Available API Calls &raquo;</a></p>-->
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
-->
